// @import "../../node_modules/uikit/dist/css/uikit.css";
// @import "../../node_modules/uikit/dist/css/uikit-core.css";
// @import "../../node_modules/uikit/dist/css/uikit.css";
@import "../../node_modules/uikit/src/less/uikit.theme.less";

// @global-background:                             #fff;

// @global-muted-background:                       #f8f8f8;
// @global-primary-background:                     #607d8b;
// @global-secondary-background:                   #374949;

// @global-success-background:                     #32d296;
// @global-warning-background:                     #faa05a;
// @global-danger-background:                      #8b0000;

// @global-font-family: "News Cycle", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

body, html {
	font-family: 'News Cycle', 	sans-serif !important;
	height: 100%;
	font-weight: 300 !important;
  }

  h1, h2, h3, h4, h5, h6 {
	font-family: 'News Cycle' ,sans-serif;
	font-weight: 300 !important;
  }

  .dignity {
	font-family: "News Cycle", sans-serif;
	font-weight: 300 !important;
  }

  i, .material-icons, .fa, .fab, .far, .fas {
	vertical-align: middle;
  }

